div#root {
    overflow: hidden;
}

div#createPanel {
    width: 94.6vw;
    margin-left: -2.5vw;
    margin-top: -12em;
    /* height: 89vh; */
}
div.itemsIndRow{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
div.itemsIndLeft{
    width: 40%;
    border-right: 1px solid black;
}
span.addOptBtn{
    cursor: pointer;
    border: 1px solid black;
    /* padding: 6px; */
    border-radius: 4px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    padding-right: 8px;
}
span.optText{
    border-bottom: 1px solid black;
    padding: 2px;
}
span.optText input{
    width: 169px;
    font-size: 14px;
    outline: none;
}
.allItemsContainer {
    height: 93vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
span.addOptBtn span{
    border-right: 1px solid black;
    padding: 5px;
    width: 30%;
    /* margin-right: 3px; */
    font-size: 14px;
}
div.itemsIndLeft div{
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1em;
    margin: 3% auto;
}
div.itemBoard{
    display: flex;
    flex-basis: row;
    width:100%;
    height: 100vh;
}
div.itemLeft{
    width:25%;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color:#A0AEC0;
}
div.itemRight{
    width:75%
}
div.itemsListContainer{
    width: 30vw;
    height: 100%;
}
@media (min-width: 1280px)
{.md\:px-10 {
    padding-left: 1.5rem !important;
    padding-right: 0rem !important;
}}
div.addBtn{
    width: 98%;
    border:1.3px solid black;
    border-radius: 4px;
    align-items: center;
    font-weight: 600;
    justify-content: center;
    display: flex;
    height: 3em;
    cursor: pointer;
    font-weight: bold;
    margin:1%;
}